services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_cv
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DB_HOST
      - DB_PORT
      - DB_NAME
      - DB_PASS
      - APP_PORT
      - DB_USER
      - DEFAULT_REG_POR_PAGINA
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - postgres_dev
    command: sh -c "./init.sh && npm run dev"

  postgres_dev:
    image: postgres:14
    container_name: postgres_cv_dev
    restart: always
    environment:
      POSTGRES_USER: ${ POSTGRES_USER }
      POSTGRES_PASSWORD: ${ POSTGRES_PASSWORD }
      POSTGRES_DB: ${ POSTGRES_DB }
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres_test:
    image: postgres:14
    container_name: postgres_cv_test
    restart: always
    environment:
      POSTGRES_USER: ${ POSTGRES_USER }
      POSTGRES_PASSWORD: ${ POSTGRES_PASSWORD }
      POSTGRES_DB: ${ POSTGRES_DB }
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_test:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_dev:
  postgres_data_test:
